# Pre-processing

### Import libs

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 100

## Scrapping

##### masterlielist.txt

In [2]:
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen
import requests

def scrapper_url_zip(url = "http://data.gdeltproject.org/gdeltv2/masterfilelist.txt"):

    response = requests.get(url)
    content = response.content.decode("utf-8") 
    l = content.split('\n')[:9]

    liste = list()
    list_df = list()

    for i in l:
        k = i.split(" ")[-1]
        liste.append(k)

    for i in liste:
        url = urlopen(i)

        k = i.split("/")[-1].split(".zip")[0]

        zipfile = ZipFile(BytesIO(url.read()))
        FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t")
        list_df.append(FFdata)
    return list_df
    
df_base = scrapper_url_zip()
df_base[0]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60
0,410412347,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,43,43,4,1,2.8,5,1,5,-4.477612,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,4,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,20150218230000,http://www.dailymaverick.co.za/article/2015-02...
1,410412348,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,5,1,5,2.078522,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.9750,72.8258,-2092174,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.5833,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
2,410412349,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,1,1,1,7.517084,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,4,"Great Southern, Victoria, Australia",AS,AS07,5387,-36.0667,146.4830,-1576477,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
3,410412350,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,2,1,2,7.517084,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
4,410412351,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,LOS ANGELES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,10,1,10,0.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,2,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,20150218230000,http://www.eastidahonews.com/2015/02/neil-patr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266,410414613,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,6,1,6,-3.703704,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2267,410414614,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,6,1,6,-3.703704,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2268,410414615,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,NaN,NaN,NaN,NaN,NaN,PAK,PAKISTAN,PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,2,1,2,-3.703704,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2269,410414616,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,NaN,NaN,NaN,NaN,NaN,PAK,PAKISTAN,PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,2,1,2,-3.703704,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,4,"Mohin-Jo-Daro, Sindh, Pakistan",PK,PK05,23687,27.3287,68.1325,-2769374,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2270,410414617,20150218,201502,2015,2015.1315,tib,TIBETAN,NaN,NaN,tib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10,10,1,1,0.0,10,1,10,-0.411523,4,"Amdo, Xizang, China",CH,CH14,13213,32.3333,91.6667,-1920650,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Amdo, Xizang, China",CH,CH14,13213,32.3333,91.6667,-1920650,20150218230000,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...

### masterfilelist-translation.txt

In [3]:
def scrapper_url_zip_translation(url = "http://data.gdeltproject.org/gdeltv2/masterfilelist-translation.txt"):

    response = requests.get(url)
    content = response.content.decode("utf-8") 
    l = content.split('\n')[:9]

    liste = list()
    list_df = list()

    for i in l:
        k = i.split(" ")[-1]
        liste.append(k)

    for i in liste:
        url = urlopen(i)

        k = i.split("/")[-1].split(".zip")[0]

        zipfile = ZipFile(BytesIO(url.read()))
        FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t")
        list_df.append(FFdata)
    return list_df
    
df_translation = scrapper_url_zip_translation()
df_translation[0]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60
0,410411698,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDU,STUDENT,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,36,36,3,1,4.0,10,1,10,-1.515152,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,20150218224500,http://www.ceskenoviny.cz/zpravy/zpravy/ustect...
1,410411699,20140218,201402,2014,2014.1315,EDU,STUDENT,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36,36,3,1,4.0,10,1,10,-1.515152,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,20150218224500,http://www.ceskenoviny.cz/zpravy/zpravy/ustect...
2,410411700,20150217,201502,2015,2015.1288,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,40,40,4,1,1.0,2,1,2,-1.501706,4,"Entre Rios, Salta, Argentina",AR,AR17,4781,-23.30000,-64.3000,-988650,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Atucha, Buenos Aires, Argentina",AR,AR01,22379,-33.98000,-59.2850,-977383,20150218224500,http://www.lapoliticaonline.com/nota/87033-cri...
3,410411701,20150217,201502,2015,2015.1288,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRMIL,UKRAINE,UKR,NaN,NaN,NaN,NaN,MIL,NaN,NaN,1,874,87,8,2,10.0,6,3,6,-4.287150,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20150218224500,http://www.rhein-zeitung.de/nachrichten/deutsc...
4,410411702,20150217,201502,2015,2015.1288,UKRMIL,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,MIL,NaN,NaN,UKR,KYIV,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,874,87,8,2,10.0,18,3,18,-4.287150,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20150218224500,http://www.rhein-zeitung.de/nachrichten/deutsc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,410412342,20150218,201502,2015,2015.1315,men,MENDE,NaN,NaN,men,NaN,NaN,NaN,NaN,NaN,menGOV,MENDE,NaN,NaN,men,NaN,NaN,GOV,NaN,NaN,1,20,20,2,1,3.0,10,1,10,-1.234568,4,"Alagoas, MaranhãBR, Brazil",BR,BR13,18585,-3.77139,-43.4081,82659,4,"Alagoas, MaranhãBR, Brazil",BR,BR13,18585,-3.77139,-43.4081,82659,4,"Alagoas, MaranhãBR, Brazil",BR,BR13,18585,-3.77139,-43.4081,82659,20150218224500,http://www.senado.gov.br/noticias/Radio/progra...
645,410412343,20150218,201502,2015,2015.1315,men,MENDE,NaN,NaN,men,NaN,NaN,NaN,NaN,NaN,menGOV,MENDE,NaN,NaN,men,NaN,NaN,GOV,NaN,NaN,1,40,40,4,1,1.0,10,1,10,-1.234568,4,"Alagoas, MaranhãBR, Brazil",BR,BR13,18585,-3.77139,-43.4081,82659,4,"Alagoas, MaranhãBR, Brazil",BR,BR13,18585,-3.77139,-43.4081,82659,4,"Alagoas, MaranhãBR, Brazil",BR,BR13,18585,-3.77139,-43.4081,82659,20150218224500,http://www.senado.gov.br/noticias/Radio/progra...
646,410412344,20150218,201502,2015,2015.1315,menGOV,MENDE,NaN,NaN,men,NaN,NaN,GOV,NaN,NaN,men,MENDE,NaN,NaN,men,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,10,1,10,-1.234568,4,"Alagoas, MaranhãBR, Brazil",BR,BR13,18585,-3.77139,-43.4081,82659,4,"Alagoas, MaranhãBR, Brazil",BR,BR13,18585,-3.77139,-43.4081,82659,4,"Alagoas, MaranhãBR, Brazil",BR,BR13,18585,-3.77139,-43.4081,82659,20150218224500,http://www.senado.gov.br/noticias/Radio/progra...
647,410412345,20150218,201502,2015,2015.1315,scn,SICILIAN,NaN,NaN,scn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,42,42,4,1,1.9,10,1,10,-0.726392,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150218224500,http://fai.informazione.it/p/F4081C43-9A39-4F0...
648,410412346,20150218,201502,2015,2015.1315,sco,SCOTTISH,NaN,NaN,sco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20,20,2,1,3.0,10,1,10,0.000000,4,"San Sebastian, Buenos Aires, Argentina",AR,AR01,22379,-34.94210,-59.7016,-1014059,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"San Sebastian, Buenos Aires, Argentina",AR,AR01,22379,-34.94210,-59.7016,-1014059,20150218224500,http://efe.ikuna.com/2544_futbol-liga-espana/2...

### Pre-processing base table

In [4]:
def sub_df_base(df_list):
    
    list_df_export = list()
    list_df_mentions = list()
    list_df_gkg = list()
    
    for df in df_list:
        if df.shape[1] == 61:
            #export
            list_df_export.append(df)
            
    for df in df_list:
        if df.shape[1] == 16:
            #mention
            list_df_mentions.append(df)
            
    for df in df_list:
        if df.shape[1] == 27:
            #gkg
            list_df_gkg.append(df)
            
    df_export_base = pd.concat(list_df_export)
    df_mentions_base = pd.concat(list_df_mentions)    
    df_gkg_base = pd.concat(list_df_gkg)
    
    for i in range(df_export_base.shape[1]):
        df_export_base.rename({i: 'export_'+str(i)}, axis=1, inplace=True)
        
    for i in range(df_mentions_base.shape[1]):
        df_mentions_base.rename({i: 'mentions_'+str(i)}, axis=1, inplace=True)    
        
    for i in range(df_gkg_base.shape[1]):
        df_gkg_base.rename({i: 'gkg_'+str(i)}, axis=1, inplace=True)    
    
    return df_export_base, df_mentions_base, df_gkg_base

export, mentions, gkg = sub_df_base(df_base)

export

,export_0,export_1,export_2,export_3,export_4,export_5,export_6,export_7,export_8,export_9,export_10,export_11,export_12,export_13,export_14,export_15,export_16,export_17,export_18,export_19,export_20,export_21,export_22,export_23,export_24,export_25,export_26,export_27,export_28,export_29,export_30,export_31,export_32,export_33,export_34,export_35,export_36,export_37,export_38,export_39,export_40,export_41,export_42,export_43,export_44,export_45,export_46,export_47,export_48,export_49,export_50,export_51,export_52,export_53,export_54,export_55,export_56,export_57,export_58,export_59,export_60
0,410412347,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,43,43,4,1,2.8,5,1,5,-4.477612,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,4,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,20150218230000,http://www.dailymaverick.co.za/article/2015-02...
1,410412348,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,5,1,5,2.078522,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.9750,72.8258,-2092174,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.5833,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
2,410412349,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,1,1,1,7.517084,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,4,"Great Southern, Victoria, Australia",AS,AS07,5387,-36.0667,146.4830,-1576477,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
3,410412350,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,2,1,2,7.517084,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
4,410412351,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,LOS ANGELES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,10,1,10,0.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,2,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,20150218230000,http://www.eastidahonews.com/2015/02/neil-patr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079,410420483,20150218,201502,2015,2015.1315,nai,NATIVE AMERICAN,NaN,NaN,nai,NaN,NaN,NaN,NaN,NaN,EDU,SCHOOL,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,40,40,4,1,1.0,1,1,1,0.719942,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.8951,-77.0364,531871,3,"Department Of Education, District of Columbia,...",US,USDC,NaN,38.8862,-77.0183,530857,3,"Department Of Education, District of Columbia,...",US,USDC,NaN,38.8862,-77.0183,530857,20150218233000,https://www.ed.gov/feed
2080,410420484,20150218,201502,2015,2015.1315,nai,NATIVE AMERICAN,NaN,NaN,nai,NaN,NaN,NaN,NaN,NaN,EDU,SCHOOL,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,40,40,4,1,1.0,3,1,3,0.719942,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.8951,-77.0364,531871,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.8951,-77.0364,531871,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.8951,-77.0364,531871,20150218233000,https://www.ed.gov/feed
2081,410420485,20150218,201502,2015,2015.1315,tam,TAMIL,NaN,NaN,tam,NaN,NaN,NaN,NaN,NaN,LKA,JAFFNA,LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,36,36,3,1,4.0,10,1,10,-1.145038,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,20150218233000,http://economictimes.indiatimes.com/news/polit...
2082,410420486,20150218,201502,2015,2015.1315,tms,TAMA,NaN,NaN,tms,NaN,NaN,NaN,NaN,NaN,EDU,PROFESSOR,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,30,30,3,1,4.0,10,1,10,-2.522936,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150218233000,http://www.inquisitr.com/1853423/reports-confi...
2083,410420487,20150218,201502,2015,2015.1315,urd,URDU,NaN,NaN,urd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,51,51,5,1,3.4,10,1,10,-2.215190,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,20150218233000,http://timesofindia.indiatimes.com/city/mumbai...

### Pre-processing translation table

In [5]:
def sub_df_base_translation(df_list_translation):
    
    list_df_export_translation = list()
    list_df_mentions_translation = list()
    list_df_gkg_translation = list()
    
    for df in df_list_translation:
        if df.shape[1] == 61:
            #export
            list_df_export_translation.append(df)
            
    for df in df_list_translation:
        if df.shape[1] == 16:
            #mention
            list_df_mentions_translation.append(df)
            
    for df in df_list_translation:
        if df.shape[1] == 27:
            #gkg
            list_df_gkg_translation.append(df)
            
    df_export_base_translation = pd.concat(list_df_export_translation)
    df_mentions_base_translation = pd.concat(list_df_mentions_translation)    
    df_gkg_base_translation = pd.concat(list_df_gkg_translation)
    
    for i in range(df_export_base_translation.shape[1]):
        df_export_base_translation.rename({i: 'export_translation_'+str(i)}, axis=1, inplace=True)
        
    for i in range(df_mentions_base_translation.shape[1]):
        df_mentions_base_translation.rename({i: 'mentions_translation_'+str(i)}, axis=1, inplace=True)    
        
    for i in range(df_gkg_base_translation.shape[1]):
        df_gkg_base_translation.rename({i: 'gkg_translation_'+str(i)}, axis=1, inplace=True)    
    
    return df_export_base_translation, df_mentions_base_translation, df_gkg_base_translation

export_translation, mentions_translation, gkg_translation = sub_df_base_translation(df_translation)

export_translation

,export_translation_0,export_translation_1,export_translation_2,export_translation_3,export_translation_4,export_translation_5,export_translation_6,export_translation_7,export_translation_8,export_translation_9,export_translation_10,export_translation_11,export_translation_12,export_translation_13,export_translation_14,export_translation_15,export_translation_16,export_translation_17,export_translation_18,export_translation_19,export_translation_20,export_translation_21,export_translation_22,export_translation_23,export_translation_24,export_translation_25,export_translation_26,export_translation_27,export_translation_28,export_translation_29,export_translation_30,export_translation_31,export_translation_32,export_translation_33,export_translation_34,export_translation_35,export_translation_36,export_translation_37,export_translation_38,export_translation_39,export_translation_40,export_translation_41,export_translation_42,export_translation_43,export_translation_44,export_translation_45,export_translation_46,export_translation_47,export_translation_48,export_translation_49,export_translation_50,export_translation_51,export_translation_52,export_translation_53,export_translation_54,export_translation_55,export_translation_56,export_translation_57,export_translation_58,export_translation_59,export_translation_60
0,410411698,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDU,STUDENT,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,36,36,3,1,4.0,10,1,10,-1.515152,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Ukraine,UP,UP,NaN,49.0,32.0,UP,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,20150218224500,http://www.ceskenoviny.cz/zpravy/zpravy/ustect...
1,410411699,20140218,201402,2014,2014.1315,EDU,STUDENT,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36,36,3,1,4.0,10,1,10,-1.515152,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,20150218224500,http://www.ceskenoviny.cz/zpravy/zpravy/ustect...
2,410411700,20150217,201502,2015,2015.1288,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,40,40,4,1,1.0,2,1,2,-1.501706,4,"Entre Rios, Salta, Argentina",AR,AR17,4781,-23.30000,-64.3000,-988650,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Atucha, Buenos Aires, Argentina",AR,AR01,22379,-33.98000,-59.2850,-977383,20150218224500,http://www.lapoliticaonline.com/nota/87033-cri...
3,410411701,20150217,201502,2015,2015.1288,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRMIL,UKRAINE,UKR,NaN,NaN,NaN,NaN,MIL,NaN,NaN,1,874,87,8,2,10.0,6,3,6,-4.287150,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Russia,RS,RS,NaN,60.0,100.0,RS,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20150218224500,http://www.rhein-zeitung.de/nachrichten/deutsc...
4,410411702,20150217,201502,2015,2015.1288,UKRMIL,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,MIL,NaN,NaN,UKR,KYIV,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,874,87,8,2,10.0,18,3,18,-4.287150,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Russia,RS,RS,NaN,60.0,100.0,RS,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20150218224500,http://www.rhein-zeitung.de/nachrichten/deutsc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,410418399,20150218,201502,2015,2015.1315,grn,GUARANI,NaN,NaN,grn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,61,61,6,2,6.4,10,1,10,-1.540832,4,"Caaguazu, Caaguazú5, Paraguay",PA,PA04,23813,-25.45000,-56.0167,-910102,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Caaguazu, Caaguazú5, Paraguay",PA,PA04,23813,-25.45000,-56.0167,-910102,20150218231500,http://site.adital.com.br/site/noticia.php?lan...
882,410418400,20150218,201502,2015,2015.1315,hup,HUPA,NaN,NaN,hup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,192,192,19,4,-9.5,6,1,6,-1.041667,1,Germany,GM,GM,NaN,51.00000,9.0000,GM,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Germany,GM,GM,NaN,51.00000,9.0000,GM,20150218231500,http://www.abounderrattelser.fi/news/2015/02/h...
883,410418401,20150218,201502,2015,2015.1315,hup,HUPA,NaN,NaN,hup,NaN,NaN,NaN,NaN,NaN,SWE,SWEDEN,SWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,192,192,19,4,-9.5,2,1,2,-1.041667,1,Sweden,SW,SW,NaN,62.00000,15.0000,SW,1,Sweden,SW,SW,NaN,62.0,15.0,SW,1,Sweden,SW,SW,NaN,62.00000,15.0000,SW,20150218231500,http://www.abounderrattelser.fi/news/2015/02/h...
884,410418402,20150218,201502,2015,2015.1315,idg,INDIGENOUS,NaN,NaN,idg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20,20,2,1,3.0,10,1,10,-3.273810,4,"Zulia, Zulia, Venezuela",VE,VE23,32159,8.54934,-72.3914,232082,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Zulia, Zulia, Venezuela",VE,VE23,32159,8.54934,-72.3914,232082,20150218231500,http://www.rnv.gob.ve/index.php/zulia-movimien...
885,410418403,20150218,201502,2015,2015.1315,tel,TELUGU,NaN,NaN,tel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,110,110,11,3,-2.0,10,1,10,-0.338409,4,"Telangana, Andhra Pradesh, India",IN,IN02,17568,18.00000,79.5000,-2112824,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Telangana, Andhra Pradesh, India",IN,IN02,17568,18.00000,79.5000,-2112824,20150218231500,http://www.dailythanthi.com/News/State/2015/02...

In [6]:
export["export_1"] = pd.to_datetime(export["export_1"], format='%Y%m%d')
mentions["mentions_1"] = pd.to_datetime(mentions["mentions_1"], format='%Y%m%d%H%M%S')
gkg["gkg_1"] = pd.to_datetime(gkg["gkg_1"], format='%Y%m%d%H%M%S')

export_translation["export_translation_1"] = pd.to_datetime(export_translation["export_translation_1"], format='%Y%m%d')
mentions_translation["mentions_translation_1"] = pd.to_datetime(mentions_translation["mentions_translation_1"], format='%Y%m%d%H%M%S')
gkg_translation["gkg_translation_1"] = pd.to_datetime(gkg_translation["gkg_translation_1"], format='%Y%m%d%H%M%S')

### Merge Table : 

mentions_gkg_translation_joined = mentions + gkg_translation on "gkg_translation_3" (CommonSourceDomain) <br>

mentions_gkg_translation_export_joined = mentions_gkg_translation_joined + export on "export_0" (GlobalIdEvent)

In [7]:
mentions_gkg_translation_joined = mentions.merge(gkg_translation, left_on='mentions_4', right_on='gkg_translation_3')
mentions_gkg_translation_export_joined = mentions_gkg_translation_joined.merge(export, left_on='mentions_0', right_on='export_0')
mentions_gkg_translation_export_joined["gkg_translation_25"] = mentions_gkg_translation_export_joined["gkg_translation_25"].apply(lambda x : x.split(";")[0].split(":")[-1])

mentions_gkg_translation_export_joined

,mentions_0,mentions_1,mentions_2,mentions_3,mentions_4,mentions_5,mentions_6,mentions_7,mentions_8,mentions_9,mentions_10,mentions_11,mentions_12,mentions_13,mentions_14,mentions_15,gkg_translation_0,gkg_translation_1,gkg_translation_2,gkg_translation_3,gkg_translation_4,gkg_translation_5,gkg_translation_6,gkg_translation_7,gkg_translation_8,gkg_translation_9,gkg_translation_10,gkg_translation_11,gkg_translation_12,gkg_translation_13,gkg_translation_14,gkg_translation_15,gkg_translation_16,gkg_translation_17,gkg_translation_18,gkg_translation_19,gkg_translation_20,gkg_translation_21,gkg_translation_22,gkg_translation_23,gkg_translation_24,gkg_translation_25,gkg_translation_26,export_0,export_1,export_2,export_3,export_4,export_5,export_6,...,export_11,export_12,export_13,export_14,export_15,export_16,export_17,export_18,export_19,export_20,export_21,export_22,export_23,export_24,export_25,export_26,export_27,export_28,export_29,export_30,export_31,export_32,export_33,export_34,export_35,export_36,export_37,export_38,export_39,export_40,export_41,export_42,export_43,export_44,export_45,export_46,export_47,export_48,export_49,export_50,export_51,export_52,export_53,export_54,export_55,export_56,export_57,export_58,export_59,export_60
0,410412348,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,20150218224500-T178,2015-02-18 22:45:00,1,indiatimes.com,http://navbharattimes.indiatimes.com/india/whe...,NaN,NaN,CONSTITUTIONAL;ECON_TAXATION;ELECTION;TAX_FNCA...,"GENERAL_GOVERNMENT,1160;GENERAL_GOVERNMENT,120...","4#Delhi, Delhi, India#IN#IN07#28.6667#77.2167#...","4#Delhi, Delhi, India#IN#IN07#17911#28.6667#77...",NaN,NaN,law commission,"Law Commission,1312","-3.7147102526003,2.08023774145617,5.7949479940...",NaN,"wc:650,nwc:770,c1.3:1,c12.1:51,c12.10:63,c12.1...",http://navbharattimes.indiatimes.com/photo/462...,http:/navbharattimes.indiatimes.com/photo/4626...,NaN,NaN,NaN,"New Delhi Supreme,21;Place No The,789;Country ...","4,Option elected virtual a,2313;",hin,NaN,410412348,2014-02-18,201402,2014,2014.1315,NaN,NaN,...,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,5,1,5,2.078522,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.975,72.8258,-2092174,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.58330,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
1,410412348,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,20150218224500-T188,2015-02-18 22:45:00,1,indiatimes.com,http://navbharattimes.indiatimes.com/state/bih...,NaN,NaN,TAX_POLITICAL_PARTY;TAX_POLITICAL_PARTY_JANATA...,"GENERAL_GOVERNMENT,1908;TAX_ETHNICITY,2899;TAX...","4#Patna, Bihar, India#IN#IN34#25.6#85.1167#-21...",1#India#IN#IN##20#77#IN#15;1#India#IN#IN##20#7...,gautam singh;jitan ram manjhi;janata dal;kumar...,"Gautam Singh,1709;Jitan Ram Manjhi,2055;Janata...",party of india;center kumar,"Party Of India,1299;Center Kumar,1813","-0.909090909090909,2.27272727272727,3.18181818...",NaN,"wc:635,nwc:775,c1.3:1,c12.1:36,c12.10:65,c12.1...",http://navbharattimes.indiatimes.com/photo/462...,http:/navbharattimes.indiatimes.com/photo/4626...,NaN,NaN,NaN,"Patna Bihar,15;Janata Dal,29;United Kingdom,47...","4,Option elected virtual a,2414;",hin,NaN,410412348,2014-02-18,201402,2014,2014.1315,NaN,NaN,...,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,5,1,5,2.078522,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.975,72.8258,-2092174,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.58330,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
2,410412348,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,20150218230000-T182,2015-02-18 23:00:00,1,indiatimes.com,http://hindi.economictimes.indiatimes.com/auto...,NaN,NaN,TAX_WORLDMAMMALS;TAX_WORLDMAMMALS_HORSE;TAX_ET...,"TAX_ETHNICITY,70;TAX_ETHNICITY,109;TAX_ETHNICI...",1#Finland#AS#FI#64#26#FI;1#India#AS#IN#20#77#IN,1#Finnish#AS#FI##64#26#FI#268;1#India#AS#IN##2...,indian a ofisli,"Indian A Ofisli,79",NaN,NaN,"-0.469483568075117,0.938967136150235,1.4084507...",NaN,"wc:201,nwc:268,c12.1:16,c12.10:23,c12.12:13,c1...",http://navbharattimes.indiatimes.com/photo/462...,http:/hindi.economictimes.indiatimes.com/photo...,NaN,NaN,NaN,"Indian C Dark Horse,207;New C Dark Horse Finni...",NaN,hin,NaN,410412348,2014-02-18,201402,2014,2014.1315,NaN,NaN,...,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,5,1,5,2.078522,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.975,72.8258,-2092174,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.58330,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
3,410412362,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/City/Delhi/...,10,1818,-1,1702,1,100,1946,-0.291545,NaN,NaN,20150218224500-T178,2015-02-18 22:45:00,1,indiatimes.com,http://navbharattimes.indiatimes.com/india/whe...,NaN,NaN,CONSTITUTIONAL;ECON_TAXATION;ELECTION;TAX_FNCA...,"GENERAL_GOVERNMENT,1160;GENERAL_GOVERNMENT,120...","4#Delhi, Delhi, India#IN#IN07#28.6667#77.2167#...","4#Delhi, Delhi, India#IN#IN07#17911#28.6667#77...",NaN,NaN,law commission,"Law Commission,1312","-3.7147102526003,2.08023774145617,5.7949479940...",NaN,"wc:650,nwc:770,c1.3:1,c12.1:51,c12.10:63,c12.1...",http://navbharattimes.indiatimes.com/photo/462...,http:/navbharattimes.indiatimes.com/photo/4626...,NaN,NaN,NaN,"New Delhi Supreme,21;Place No The,789;Country ...","4,Option elected virtual a,2313;",hin,NaN,410412362,2014-02-18,201402,2014,2014.1315,CVL,RESIDENTS,...,NaN,CVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,10,1,1,0.0,10,1,10,-0.291545,4,"Dwarka, Gujarat, India",IN,IN09,17641,22.2394,68.9678,-2095389,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Dwarka, Gujarat, India",IN,IN09,17641,22.2394,68.96780,-2095389,20150218230000,http://timesofindia.indiatimes.com/City/Delhi/...
4,410412362,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/City/Delhi/...,10,1818,-1,1702,1,100,1946,-0.291545,NaN,NaN,20150218224500-T188,2015-02-18 22:45:00,1,indiatimes.com,http://navbharattimes.indiatimes.com/state/bih...,NaN,NaN,TAX_POLITICAL_PARTY;TAX_POLITICAL_PARTY_JANATA...,"GENERAL_GOVERNMENT,1908;TAX_ETHNICITY,2899;TAX...","4#Patna, Bihar, India#IN#IN34#25.6#85.1167#-21...",1#India#IN#IN##20#77#IN#15;1#India#IN#IN##20#7...,gautam singh;jitan ram manjhi;janata dal;kumar...,"Gautam Singh,1709;Jitan Ram Manjhi,2055;Janata...",party of india;center kumar,"Party Of India,1299;Center Kumar,1813","-0.909090909090909,2.27272727272727,3.18181818...",NaN,"wc:635,nwc:775,c1.3:1,c12.1:36,c12.10:65,c12.1...",http://navbharattimes.indiatimes.com/photo/462...,http:/navbharattimes.indiatimes.com/photo/4626...,NaN,NaN,NaN,"Patna Bihar,15;Janata Dal,29;United Kingdom,47...","4,Option elected virtual a,2414;",hin,NaN,410412362,2014-02-18,201402,2014,2014.1315,CVL,RESIDENTS,...,NaN,CVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,10,1,1,0.0,10,1,10,-0.291545,4,"Dwarka, Gujarat, India",IN,IN09,17641,22.2394,68.9678,-2095389,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Dwarka, Gujarat, India",IN,IN09,17641,22.2394,68.96780,-2095389,20150218230000,http://timesofindia.indiatimes.com/City/Delhi/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15403,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1430,2015-02-18 23:00:00,1,as.com,http://futbol.as.com/futbol/2015/02/18/champio...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CHAMPIONS;TAX_ETHNICITY;...,"TAX_FNCACT,2032;TAX_FNCACT,2268;BLOCKADE,2298;...",1#Switzerland#RS#SZ#47#8#SZ;1#Portugal#RS#PO#3...,1#Portuguese#RS#PO##39.5#-8#PO#198;1#Portugues...,NaN,NaN,center to danilo,"Center To Danilo,2387","-0.401606425702811,4.01606425702811,4.41767068...",NaN,"wc:453,nwc:540,c1.1:1,c1.4:1,c12.1:32,c12.10:4...",http://as00.epimg.net/img/comunes/redes/gplus/...,NaN,NaN,NaN,NaN,"Tie Port,9;Only Casemiro,1247;Before Body Part...","2,parts charge,935;2,parties officers after a,...",spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...
15404,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1456,2015-02-18 23:00:00,1,as.com,http://tenis.as.com/tenis/2015/02/18/mas_tenis...,NaN,NaN,TAX_RELIGION;TAX_RELIGION_BAPTIST;TAX_ETHNICIT...,"TAX_ETHNICITY,1065;TAX_WORLDLANGUAGES,1065;TAX...",1#Belgium#SP#BE#50.8333#4#BE;1#France#SP#FR#46...,"1#Polish#SP#PL##52#20#PL#580;4#Madras, Tamil N...",jerzy janowicz,"Jerzy Janowicz,595",NaN,NaN,"1.63934426229508,4.37158469945355,2.7322404371...",NaN,"wc:154,nwc:259,c12.1:13,c12.10:8,c12.12:2,c12....",http://as00.epimg.net/img/comunes/redes/gplus/...,NaN,NaN,NaN,NaN,"Baptist Pass,14;Marseille Most Tennis,57;Spani...","4,seeded,71;4,time,608;",spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...
15405,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1669,2015-02-18 23:00:00,1,as.com,http://futbol.as.com/futbol/2015/02/18/champio...,NaN,NaN,NaN,NaN,1#Sweden#SP#SW#62#15#SW;1#Spain#SP#SP#40#-4#SP,1#Spanish#SP#SP##40#-4#SP#304;1#Suede#SP#SW##6...,NaN,NaN,league to champions,"League To Champions,70;League To Champions,252","9.64467005076142,10.6598984771574,1.0152284263...",NaN,"wc:184,nwc:229,c12.1:13,c12.10:15,c12.12:5,c12...",http://as00.epimg.net/futbol/imagenes/2015/02/...,NaN,NaN,NaN,NaN,"Tie Closed,378","2,parts goals,420;",spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...
15406,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1732,2015-02-18 23:00:00,1,as.com,http://ciclismo.as.com/ciclismo/2015/02/18/mas...,NaN,NaN,TAX_ETHNICITY;TAX_ETHNICITY_SPANISH;TAX_WORLDL...,"TAX_ETHNICITY,702;TAX_WORLDLANGUAGES,702;TAX_W...",1#France#SP#FR#46#2#FR;1#Spain#SP#SP#40#-4#SP;...,1#Russia#SP#RS##60#100#RS#491;1#Spanish#SP#SP#...,NaN,NaN,NaN,NaN,"1.21212121212121,3.63636363636364,2.4242424242...",NaN,"wc:145,nwc:198,c12.1:10,c12.10:9,c12.12:3,c12....",http://as00.epimg.net/img/comunes/redes/gplus/...,NaN,NaN,NaN,NaN,"Square Most Cycling,65;Tanya Bald,127;Square H...",NaN,spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...
15407,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1761,2015-02-18 23:00:00,1,as.com,http://futbol.as.com/futbol/2015/02/18/champio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,league to champions,"League To Champions,52","1.39751552795031,6.2111801242236,4.81366459627...",NaN,"wc:604,nwc:785,c1.1:1,c12.1:57,c12.10:83,c12.1...",http://as00.epimg.net/futbol/imagenes/2015/02/...,NaN,NaN,NaN,NaN,"Withdrew Field,814;Come Back,855;Used Her,2480...",NaN,spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...

## Requêtes

#### Nombre d'article par jour

In [8]:
#export["export_1"] = pd.to_datetime(export["export_1"], format='%Y%m%d') # column_1 = date
nb_event_per_day = export["export_1"].value_counts()
nb_event_per_day

2015-02-18    6185
2014-02-18     116
2015-02-11      85
2015-01-19      35
2015-02-17      34
2005-02-20       2
Name: export_1, dtype: int64

#### Nombre d'article par pays d'évènement

In [9]:
nb_event_per_country = export["export_53"].value_counts() # 53 = CountryCode
nb_event_per_country

US    2517
PK     230
NI     226
CA     213
AS     209
      ...
HO       1
EN       1
PP       1
WA       1
JM       1
Name: export_53, Length: 136, dtype: int64

#### Nombre d'article par langue de l'article

In [10]:
pd.DataFrame(mentions_gkg_translation_export_joined.gkg_translation_25.value_counts())

     gkg_translation_25
zho                7560
spa                2478
jpn                2100
por                 956
hin                 417
ara                 348
fra                 343
ita                 333
ell                 237
fas                 232
rus                 149
srp                 120
ukr                  58
deu                  44
tur                  33

### Pour un pays donné en paramètre, affichez les évènements qui y ont eu place triées par le nombre de mentions (tri décroissant); permettez une agrégation par jour/mois/année

In [11]:
def display_event(event_table, country, day, month, year):
    event_table[1] = pd.to_datetime(event_table["export_1"], format='%Y%m%d') # column_1 = Day 
    list_event = event_table.loc[event_table["export_53"] == country]
    list_event_sorted = list_event.sort_values(by="export_31") # column_31 = NumMentions
    #print(list_event_sorted)
    list_event_sorted['day'] = list_event_sorted[1].dt.day
    list_event_sorted['month'] = list_event_sorted[1].dt.month
    list_event_sorted['year'] = list_event_sorted[1].dt.year
    
    event_by_day_month_year = list_event_sorted.loc[(list_event_sorted.day == day) & (list_event_sorted.month == month) & (list_event_sorted.year == year)]
    event_by_month_year = list_event_sorted.loc[(list_event_sorted.month == month) & (list_event_sorted.year == year)]
    event_by_year = list_event_sorted.loc[list_event_sorted.year == year]
    #print(event_by_year)
    print("--- Events in " + str(day) + "/" + str(month) + "/" + str(year) +" ---\n")
    if event_by_day_month_year["export_0"].empty:
        print("0 events found")
    else:
        print(event_by_day_month_year["export_0"])
    print("\n\n--- Events in " + str(month) + "/" + str(year) +" ---\n")
    if event_by_month_year["export_0"].empty:
        print("0 events found")
    else:
        print(event_by_month_year["export_0"])
    print("\n\n--- Events in " + str(year) + " ---\n")
    if event_by_year["export_0"].empty:
        print("0 events found")
    else:
        print(event_by_year["export_0"])

display_event(export, "SW", 19, 1, 2015)

--- Events in 19/1/2015 ---

0 events found


--- Events in 1/2015 ---

0 events found


--- Events in 2015 ---

1145    410419549
1581    410419985
1184    410419588
1579    410419983
1143    410419547
1146    410419550
1577    410419981
230     410418634
2006    410417422
2005    410417421
1933    410417349
1623    410417039
1622    410417038
1580    410419984
2024    410414371
1833    410414180
1624    410417040
536     410418940
1120    410419524
1736    410417152
1144    410419548
1575    410419979
1621    410417037
729     410416145
1574    410419978
1576    410419980
196     410415612
1694    410414041
2003    410417419
695     410416111
1108    410419512
2004    410417420
1750    410420154
1102    410419506
1703    410417119
523     410415939
2068    410417484
Name: export_0, dtype: int64

### Pour une source de donnés passée en paramètre (gkg.SourceCommonName) affichez les thèmes, personnes, lieux dont les articles de cette sources parlent ainsi que le nombre d’articles et le ton moyen des articles (pour chaque thème/personne/lieu); permettez une agrégation par jour/mois/année.

In [12]:
from statistics import mean

def source_stats(gkg_table, source, day=None, month=None, year=None):
#     # column_3 = SourceCommonName
#     # column_7 = Theme
#     # column_11 = Person
#     # column_9 = Locations
#     # column_15 = Avg_Tone
#     gkg_table[1] = pd.to_datetime(gkg_table[1], format='%Y%m%d%H%M%S') # column_1 = Day 
#     list_event = gkg_table.loc[event_table[3] == source]
#     list_theme = list_event.loc(list_event)
    

    themes = list()
    persons = list()
    locations = list()

    df_avg_tone_theme = dict()
    df_avg_tone_person = dict()
    df_avg_tone_location = dict()

    #gkg_table["gkg_1"] = pd.to_datetime(gkg_table["gkg_1"], format='%Y%m%d%H%M%S') # column_1 = Day 
    list_event = gkg_table.loc[gkg_table["gkg_3"] == source]
    list_theme = list_event["gkg_7"].tolist()
    list_person = list_event["gkg_11"].tolist()
    list_location = list_event["gkg_9"].tolist()

    # THEME
    list_theme = [t for t in list_theme if str(t) != 'nan'] # drop nan values
    for theme in list_theme:
        theme_temp_list = str(theme).split(";")
        theme_temp_list.pop() # drop the last element of the list which is an empty string
        for theme_sub in theme_temp_list:
            themes.append(theme_sub)
    themes = list(dict.fromkeys(themes)) # drop duplicated themes

    # PERSON
    list_person = [l for l in list_person if str(l) != 'nan'] # drop nan values
    for person in list_person:
        person_temp_list = str(person).split(";")
        for person_sub in person_temp_list:
            persons.append(person_sub)
    persons = list(dict.fromkeys(persons)) # drop duplicated themes

    # LOCATION
    list_location = [l for l in list_location if str(l) != 'nan'] # drop nan values
    for location in list_location:
        location_temp_list = str(location).split("#")
        locations.append(location_temp_list[1])
    locations = list(dict.fromkeys(locations)) # drop duplicated themes
    
    print("---- SOURCE = " + source + "----\n")
    
    print("\n---- THEMES ----\n")
    print(themes)
    print("\n\n---- PERSONS ----\n")
    print(persons)
    print("\n\n---- LOCATIONS ----\n")
    print(locations)

    # TONE AVG PER THEMES
    for theme in themes:
        list_theme_ = list_event["gkg_7"].astype(str)
        list_theme_ = list_theme_[list_theme_.str.contains(theme)]
        idx_theme = list_theme_.index.tolist()
        avg_tone_theme = list()
        for i in idx_theme:
            avg_temp = gkg.iloc[i,15].split(",")[0]
            avg_tone_theme.append(float(avg_temp))

        avg_tone_theme = mean(avg_tone_theme)
        df_avg_tone_theme[theme] = avg_tone_theme
    df_avg_tone_theme = pd.DataFrame(df_avg_tone_theme.items(), columns=['Themes', 'AVG_Tone'])

    # TONE AVG PER PERSON
    for person in persons:
        list_person_ = list_event["gkg_11"].astype(str)
        list_person_ = list_person_[list_person_.str.contains(person)]
        idx_person = list_person_.index.tolist()
        avg_tone_person = list()
        for i in idx_person:
            avg_temp_person = gkg.iloc[i,15].split(",")[0]
            avg_tone_person.append(float(avg_temp_person))

        avg_tone_person = mean(avg_tone_person)
        df_avg_tone_person[person] = avg_tone_person
    df_avg_tone_person = pd.DataFrame(df_avg_tone_person.items(), columns=['Persons', 'AVG_Tone'])
    df_avg_tone_person

    # TONE AVG PER LOCATION
    for location in locations:
        list_location_ = list_event["gkg_9"].astype(str)
        list_location_ = list_location_[list_location_.str.contains(location)]
        idx_location = list_location_.index.tolist()
        avg_tone_location = list()
        for i in idx_location:
            avg_temp_location = gkg.iloc[i,15].split(",")[0]
            avg_tone_location.append(float(avg_temp_location))

        avg_tone_location = mean(avg_tone_location)
        df_avg_tone_location[location] = avg_tone_location
    df_avg_tone_location = pd.DataFrame(df_avg_tone_location.items(), columns=['Locations', 'AVG_Tone'])
    
    print("\n\n\n\n---- AVG TONE PER THEMES ----\n")
    print(df_avg_tone_theme)
    print("\n\n---- AVG TONE PER PERSONS ----\n")
    print(df_avg_tone_person)
    print("\n\n---- AVG TONE PER LOCATIONS ----\n")
    print(df_avg_tone_location)
    
source_stats(gkg, "wjon.com")

---- SOURCE = wjon.com----


---- THEMES ----

['MANMADE_DISASTER', 'MANMADE_DISASTER_WITHOUT_POWER', 'POWER_OUTAGE', 'TAX_POLITICAL_PARTY', 'TAX_POLITICAL_PARTY_DEMOCRATS', 'TAX_FNCACT', 'TAX_FNCACT_WORKERS', 'TAX_FNCACT_WORKER', 'TAX_FNCACT_EMPLOYEE', 'TAX_ETHNICITY', 'TAX_ETHNICITY_AMERICANS', 'TAX_POLITICAL_PARTY_DEMOCRAT', 'TAX_POLITICAL_PARTY_REPUBLICAN', 'LEADER', 'TAX_FNCACT_LAWMAKERS', 'TAX_FNCACT_MANAGER', 'TAX_FNCACT_GENERAL_MANAGER', 'TAX_FNCACT_OFFICIALS', 'MEDIA_MSM', 'TAX_FNCACT_CHILD', 'ACT_MAKESTATEMENT', 'EDUCATION', 'TAKE_OFFICE', 'TAX_FNCACT_MAYOR', 'TAX_FNCACT_DIRECTOR', 'TAX_FNCACT_FINANCE_DIRECTOR', 'TAX_FNCACT_ADMINISTRATOR', 'ELECTION', 'MANMADE_DISASTER_IMPLIED', 'AVIATION_INCIDENT', 'AVIATION_INCIDENT_PLANE_CRASHED', 'KILL', 'TAX_FNCACT_PILOT', 'TAX_ETHNICITY_GERMAN', 'TAX_WORLDLANGUAGES', 'TAX_WORLDLANGUAGES_GERMAN', 'TAX_FNCACT_STUDENT', 'TAX_FNCACT_MAN', 'TAX_FNCACT_SPEAKER', 'TAX_FNCACT_LEADER', 'TAX_FNCACT_MAJORITY_LEADER', 'TAX_FNCACT_COMMISSIONER', 'LEGISLATION', 'NEGOTIATIONS', 'DELAY', 'GENERAL_HEALTH', 'MEDICAL', 'SOC_POINTSOFINTEREST', 'SOC_POINTSOFINTEREST_HOSPITAL']


---- PERSONS ----

['ryan winkler', 'rick spielman', 'adrian peterson', 'dan debaun', 'bruce hentges', 'jim aleshire', 'rick miller', 'alex svejkovsky', 'dave bentrud', 'kris dokendorf', 'paul hetland', 'bob thelen', 'kris moran', 'scott olson', 'alexander voigt', 'hannah foslien', 'mark dayton', 'kurt daudt']


---- LOCATIONS ----

['Minnesota, United States', 'Germany']




---- AVG TONE PER THEMES ----

                             Themes  AVG_Tone
0                  MANMADE_DISASTER -2.031863
1    MANMADE_DISASTER_WITHOUT_POWER -1.639344
2                      POWER_OUTAGE -1.639344
3               TAX_POLITICAL_PARTY  0.529534
4     TAX_POLITICAL_PARTY_DEMOCRATS  3.875969
5                        TAX_FNCACT -0.650074
6                TAX_FNCACT_WORKERS  3.875969
7                 TAX_FNCACT_WORKER  3.875969
8               TAX_FNCACT_EMPLOYEE  3.875969
9                     TAX_ETHNICITY  0.529534
10          TAX_ETHNICITY_AMERICANS  3.875969
11     TAX_POLITICAL_PARTY_DEMOCRAT  3.875969
12   TAX_POLITICAL_PARTY_REPUBLICAN  0.529534
13                           LEADER  0.353023
14             TAX_FNCACT_LAWMAKERS  0.529534
15               TAX_FNCACT_MANAGER -1.492537
16       TAX_FNCACT_GENERAL_MANAGER -1.492537
17             TAX_FNCACT_OFFICIALS -1.492537
18                        MEDIA_MSM -1.492537
19                 TAX_FNCACT_CHILD -1.492537
20                ACT_MAKESTATEMENT -1.492537
21                        EDUCATION  2.173913
22                      TAKE_OFFICE  0.000000
23                 TAX_FNCACT_MAYOR  0.000000
24              TAX_FNCACT_DIRECTOR  0.000000
25      TAX_FNCACT_FINANCE_DIRECTOR  0.000000
26         TAX_FNCACT_ADMINISTRATOR  0.000000
27                         ELECTION  0.000000
28         MANMADE_DISASTER_IMPLIED -2.816901
29                AVIATION_INCIDENT -2.816901
30  AVIATION_INCIDENT_PLANE_CRASHED -2.816901
31                             KILL -2.816901
32                 TAX_FNCACT_PILOT -2.816901
33             TAX_ETHNICITY_GERMAN -2.816901
34               TAX_WORLDLANGUAGES -2.816901
35        TAX_WORLDLANGUAGES_GERMAN -2.816901
36               TAX_FNCACT_STUDENT -2.816901
37                   TAX_FNCACT_MAN -2.154719
38               TAX_FNCACT_SPEAKER -2.816901
39                TAX_FNCACT_LEADER -2.816901
40       TAX_FNCACT_MAJORITY_LEADER -2.816901
41          TAX_FNCACT_COMMISSIONER -2.816901
42                      LEGISLATION -2.816901
43                     NEGOTIATIONS -2.816901
44                            DELAY -2.816901
45                   GENERAL_HEALTH -2.816901
46                          MEDICAL -2.816901
47             SOC_POINTSOFINTEREST -2.816901
48    SOC_POINTSOFINTEREST_HOSPITAL -2.816901


---- AVG TONE PER PERSONS ----

            Persons  AVG_Tone
0      ryan winkler  3.875969
1     rick spielman -1.492537
2   adrian peterson -1.492537
3        dan debaun  1.086957
4     bruce hentges  2.173913
5      jim aleshire  0.675676
6       rick miller  0.675676
7   alex svejkovsky  0.675676
8      dave bentrud  0.675676
9    kris dokendorf  0.000000
10     paul hetland  0.000000
11       bob thelen  0.000000
12       kris moran -2.816901
13      scott olson -2.816901
14  alexander voigt -2.816901
15   hannah foslien -2.816901
16      mark dayton -2.816901
17       kurt daudt -2.816901


---- AVG TONE PER LOCATIONS ----

                  Locations  AVG_Tone
0  Minnesota, United States  1.191716
1                   Germany -2.816901

### Etudier l’évolution des relations entre deux pays (specifies en paramètre) au cours de l’année. Vous pouvez vous baser sur la langue de l’article, le ton moyen des articles, les themes plus souvent citées, les personalités ou tout element qui vous semble pertinent.

#########################################"

## Requête 1

In [16]:
mentions_gkg_translation_export_joined

,mentions_0,mentions_1,mentions_2,mentions_3,mentions_4,mentions_5,mentions_6,mentions_7,mentions_8,mentions_9,mentions_10,mentions_11,mentions_12,mentions_13,mentions_14,mentions_15,gkg_translation_0,gkg_translation_1,gkg_translation_2,gkg_translation_3,gkg_translation_4,gkg_translation_5,gkg_translation_6,gkg_translation_7,gkg_translation_8,gkg_translation_9,gkg_translation_10,gkg_translation_11,gkg_translation_12,gkg_translation_13,gkg_translation_14,gkg_translation_15,gkg_translation_16,gkg_translation_17,gkg_translation_18,gkg_translation_19,gkg_translation_20,gkg_translation_21,gkg_translation_22,gkg_translation_23,gkg_translation_24,gkg_translation_25,gkg_translation_26,export_0,export_1,export_2,export_3,export_4,export_5,export_6,...,export_11,export_12,export_13,export_14,export_15,export_16,export_17,export_18,export_19,export_20,export_21,export_22,export_23,export_24,export_25,export_26,export_27,export_28,export_29,export_30,export_31,export_32,export_33,export_34,export_35,export_36,export_37,export_38,export_39,export_40,export_41,export_42,export_43,export_44,export_45,export_46,export_47,export_48,export_49,export_50,export_51,export_52,export_53,export_54,export_55,export_56,export_57,export_58,export_59,export_60
0,410412348,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,20150218224500-T178,2015-02-18 22:45:00,1,indiatimes.com,http://navbharattimes.indiatimes.com/india/whe...,NaN,NaN,CONSTITUTIONAL;ECON_TAXATION;ELECTION;TAX_FNCA...,"GENERAL_GOVERNMENT,1160;GENERAL_GOVERNMENT,120...","4#Delhi, Delhi, India#IN#IN07#28.6667#77.2167#...","4#Delhi, Delhi, India#IN#IN07#17911#28.6667#77...",NaN,NaN,law commission,"Law Commission,1312","-3.7147102526003,2.08023774145617,5.7949479940...",NaN,"wc:650,nwc:770,c1.3:1,c12.1:51,c12.10:63,c12.1...",http://navbharattimes.indiatimes.com/photo/462...,http:/navbharattimes.indiatimes.com/photo/4626...,NaN,NaN,NaN,"New Delhi Supreme,21;Place No The,789;Country ...","4,Option elected virtual a,2313;",hin,NaN,410412348,2014-02-18,201402,2014,2014.1315,NaN,NaN,...,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,5,1,5,2.078522,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.975,72.8258,-2092174,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.58330,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
1,410412348,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,20150218224500-T188,2015-02-18 22:45:00,1,indiatimes.com,http://navbharattimes.indiatimes.com/state/bih...,NaN,NaN,TAX_POLITICAL_PARTY;TAX_POLITICAL_PARTY_JANATA...,"GENERAL_GOVERNMENT,1908;TAX_ETHNICITY,2899;TAX...","4#Patna, Bihar, India#IN#IN34#25.6#85.1167#-21...",1#India#IN#IN##20#77#IN#15;1#India#IN#IN##20#7...,gautam singh;jitan ram manjhi;janata dal;kumar...,"Gautam Singh,1709;Jitan Ram Manjhi,2055;Janata...",party of india;center kumar,"Party Of India,1299;Center Kumar,1813","-0.909090909090909,2.27272727272727,3.18181818...",NaN,"wc:635,nwc:775,c1.3:1,c12.1:36,c12.10:65,c12.1...",http://navbharattimes.indiatimes.com/photo/462...,http:/navbharattimes.indiatimes.com/photo/4626...,NaN,NaN,NaN,"Patna Bihar,15;Janata Dal,29;United Kingdom,47...","4,Option elected virtual a,2414;",hin,NaN,410412348,2014-02-18,201402,2014,2014.1315,NaN,NaN,...,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,5,1,5,2.078522,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.975,72.8258,-2092174,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.58330,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
2,410412348,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,20150218230000-T182,2015-02-18 23:00:00,1,indiatimes.com,http://hindi.economictimes.indiatimes.com/auto...,NaN,NaN,TAX_WORLDMAMMALS;TAX_WORLDMAMMALS_HORSE;TAX_ET...,"TAX_ETHNICITY,70;TAX_ETHNICITY,109;TAX_ETHNICI...",1#Finland#AS#FI#64#26#FI;1#India#AS#IN#20#77#IN,1#Finnish#AS#FI##64#26#FI#268;1#India#AS#IN##2...,indian a ofisli,"Indian A Ofisli,79",NaN,NaN,"-0.469483568075117,0.938967136150235,1.4084507...",NaN,"wc:201,nwc:268,c12.1:16,c12.10:23,c12.12:13,c1...",http://navbharattimes.indiatimes.com/photo/462...,http:/hindi.economictimes.indiatimes.com/photo...,NaN,NaN,NaN,"Indian C Dark Horse,207;New C Dark Horse Finni...",NaN,hin,NaN,410412348,2014-02-18,201402,2014,2014.1315,NaN,NaN,...,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,5,1,5,2.078522,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.975,72.8258,-2092174,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.58330,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
3,410412362,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/City/Delhi/...,10,1818,-1,1702,1,100,1946,-0.291545,NaN,NaN,20150218224500-T178,2015-02-18 22:45:00,1,indiatimes.com,http://navbharattimes.indiatimes.com/india/whe...,NaN,NaN,CONSTITUTIONAL;ECON_TAXATION;ELECTION;TAX_FNCA...,"GENERAL_GOVERNMENT,1160;GENERAL_GOVERNMENT,120...","4#Delhi, Delhi, India#IN#IN07#28.6667#77.2167#...","4#Delhi, Delhi, India#IN#IN07#17911#28.6667#77...",NaN,NaN,law commission,"Law Commission,1312","-3.7147102526003,2.08023774145617,5.7949479940...",NaN,"wc:650,nwc:770,c1.3:1,c12.1:51,c12.10:63,c12.1...",http://navbharattimes.indiatimes.com/photo/462...,http:/navbharattimes.indiatimes.com/photo/4626...,NaN,NaN,NaN,"New Delhi Supreme,21;Place No The,789;Country ...","4,Option elected virtual a,2313;",hin,NaN,410412362,2014-02-18,201402,2014,2014.1315,CVL,RESIDENTS,...,NaN,CVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,10,1,1,0.0,10,1,10,-0.291545,4,"Dwarka, Gujarat, India",IN,IN09,17641,22.2394,68.9678,-2095389,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Dwarka, Gujarat, India",IN,IN09,17641,22.2394,68.96780,-2095389,20150218230000,http://timesofindia.indiatimes.com/City/Delhi/...
4,410412362,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/City/Delhi/...,10,1818,-1,1702,1,100,1946,-0.291545,NaN,NaN,20150218224500-T188,2015-02-18 22:45:00,1,indiatimes.com,http://navbharattimes.indiatimes.com/state/bih...,NaN,NaN,TAX_POLITICAL_PARTY;TAX_POLITICAL_PARTY_JANATA...,"GENERAL_GOVERNMENT,1908;TAX_ETHNICITY,2899;TAX...","4#Patna, Bihar, India#IN#IN34#25.6#85.1167#-21...",1#India#IN#IN##20#77#IN#15;1#India#IN#IN##20#7...,gautam singh;jitan ram manjhi;janata dal;kumar...,"Gautam Singh,1709;Jitan Ram Manjhi,2055;Janata...",party of india;center kumar,"Party Of India,1299;Center Kumar,1813","-0.909090909090909,2.27272727272727,3.18181818...",NaN,"wc:635,nwc:775,c1.3:1,c12.1:36,c12.10:65,c12.1...",http://navbharattimes.indiatimes.com/photo/462...,http:/navbharattimes.indiatimes.com/photo/4626...,NaN,NaN,NaN,"Patna Bihar,15;Janata Dal,29;United Kingdom,47...","4,Option elected virtual a,2414;",hin,NaN,410412362,2014-02-18,201402,2014,2014.1315,CVL,RESIDENTS,...,NaN,CVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,10,1,1,0.0,10,1,10,-0.291545,4,"Dwarka, Gujarat, India",IN,IN09,17641,22.2394,68.9678,-2095389,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Dwarka, Gujarat, India",IN,IN09,17641,22.2394,68.96780,-2095389,20150218230000,http://timesofindia.indiatimes.com/City/Delhi/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15403,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1430,2015-02-18 23:00:00,1,as.com,http://futbol.as.com/futbol/2015/02/18/champio...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CHAMPIONS;TAX_ETHNICITY;...,"TAX_FNCACT,2032;TAX_FNCACT,2268;BLOCKADE,2298;...",1#Switzerland#RS#SZ#47#8#SZ;1#Portugal#RS#PO#3...,1#Portuguese#RS#PO##39.5#-8#PO#198;1#Portugues...,NaN,NaN,center to danilo,"Center To Danilo,2387","-0.401606425702811,4.01606425702811,4.41767068...",NaN,"wc:453,nwc:540,c1.1:1,c1.4:1,c12.1:32,c12.10:4...",http://as00.epimg.net/img/comunes/redes/gplus/...,NaN,NaN,NaN,NaN,"Tie Port,9;Only Casemiro,1247;Before Body Part...","2,parts charge,935;2,parties officers after a,...",spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...
15404,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1456,2015-02-18 23:00:00,1,as.com,http://tenis.as.com/tenis/2015/02/18/mas_tenis...,NaN,NaN,TAX_RELIGION;TAX_RELIGION_BAPTIST;TAX_ETHNICIT...,"TAX_ETHNICITY,1065;TAX_WORLDLANGUAGES,1065;TAX...",1#Belgium#SP#BE#50.8333#4#BE;1#France#SP#FR#46...,"1#Polish#SP#PL##52#20#PL#580;4#Madras, Tamil N...",jerzy janowicz,"Jerzy Janowicz,595",NaN,NaN,"1.63934426229508,4.37158469945355,2.7322404371...",NaN,"wc:154,nwc:259,c12.1:13,c12.10:8,c12.12:2,c12....",http://as00.epimg.net/img/comunes/redes/gplus/...,NaN,NaN,NaN,NaN,"Baptist Pass,14;Marseille Most Tennis,57;Spani...","4,seeded,71;4,time,608;",spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...
15405,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1669,2015-02-18 23:00:00,1,as.com,http://futbol.as.com/futbol/2015/02/18/champio...,NaN,NaN,NaN,NaN,1#Sweden#SP#SW#62#15#SW;1#Spain#SP#SP#40#-4#SP,1#Spanish#SP#SP##40#-4#SP#304;1#Suede#SP#SW##6...,NaN,NaN,league to champions,"League To Champions,70;League To Champions,252","9.64467005076142,10.6598984771574,1.0152284263...",NaN,"wc:184,nwc:229,c12.1:13,c12.10:15,c12.12:5,c12...",http://as00.epimg.net/futbol/imagenes/2015/02/...,NaN,NaN,NaN,NaN,"Tie Closed,378","2,parts goals,420;",spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...
15406,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1732,2015-02-18 23:00:00,1,as.com,http://ciclismo.as.com/ciclismo/2015/02/18/mas...,NaN,NaN,TAX_ETHNICITY;TAX_ETHNICITY_SPANISH;TAX_WORLDL...,"TAX_ETHNICITY,702;TAX_WORLDLANGUAGES,702;TAX_W...",1#France#SP#FR#46#2#FR;1#Spain#SP#SP#40#-4#SP;...,1#Russia#SP#RS##60#100#RS#491;1#Spanish#SP#SP#...,NaN,NaN,NaN,NaN,"1.21212121212121,3.63636363636364,2.4242424242...",NaN,"wc:145,nwc:198,c12.1:10,c12.10:9,c12.12:3,c12....",http://as00.epimg.net/img/comunes/redes/gplus/...,NaN,NaN,NaN,NaN,"Square Most Cycling,65;Tanya Bald,127;Square H...",NaN,spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...
15407,410419135,2015-02-18 23:30:00,20150218233000,1,as.com,http://as.com/diarioas/2015/02/18/english/1424...,8,1591,-1,1523,0,20,2137,1.630435,NaN,NaN,20150218230000-T1761,2015-02-18 23:00:00,1,as.com,http://futbol.as.com/futbol/2015/02/18/champio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,league to champions,"League To Champions,52","1.39751552795031,6.2111801242236,4.81366459627...",NaN,"wc:604,nwc:785,c1.1:1,c12.1:57,c12.10:83,c12.1...",http://as00.epimg.net/futbol/imagenes/2015/02/...,NaN,NaN,NaN,NaN,"Withdrew Field,814;Come Back,855;Used Her,2480...",NaN,spa,NaN,410419135,2015-02-18,201502,2015,2015.1315,ESP,SPAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,1.630435,4,"Platte, Bayern, Germany",GM,GM02,16535,48.8500,11.0000,-1843529,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.4000,-3.68333,-390625,20150218233000,http://as.com/diarioas/2015/02/18/english/1424...

In [22]:
requete1 = mentions_gkg_translation_export_joined.loc[:,["export_0", "export_1", "export_53", "gkg_translation_25"]]
requete1['day'] = requete1["export_1"].dt.day
requete1['month'] = requete1["export_1"].dt.month
requete1['year'] = requete1["export_1"].dt.year

requete1.rename(columns={"export_0" : "id_event",
                        "export_1" : "datetime",
                        "export_53" : "country_code",
                        "gkg_translation_25" : "source_langue"}, inplace=True)

requete1

        id_event   datetime country_code source_langue  day  month  year
0      410412348 2014-02-18           IN           hin   18      2  2014
1      410412348 2014-02-18           IN           hin   18      2  2014
2      410412348 2014-02-18           IN           hin   18      2  2014
3      410412362 2014-02-18           IN           hin   18      2  2014
4      410412362 2014-02-18           IN           hin   18      2  2014
...          ...        ...          ...           ...  ...    ...   ...
15403  410419135 2015-02-18           SP           spa   18      2  2015
15404  410419135 2015-02-18           SP           spa   18      2  2015
15405  410419135 2015-02-18           SP           spa   18      2  2015
15406  410419135 2015-02-18           SP           spa   18      2  2015
15407  410419135 2015-02-18           SP           spa   18      2  2015

[15408 rows x 7 columns]

## Requête 2

In [23]:
requete2 = export.loc[:,["export_0", "export_1", "export_53", "export_26"]]
requete2['day'] = requete2["export_1"].dt.day
requete2['month'] = requete2["export_1"].dt.month
requete2['year'] = requete2["export_1"].dt.year

requete2.rename(columns={"export_0" : "id_event",
                        "export_1" : "datetime",
                        "export_53" : "country_code",
                        "export_26" : "event_code"}, inplace=True)

requete2

       id_event   datetime country_code  event_code  day  month  year
0     410412347 2014-02-18           SF          43   18      2  2014
1     410412348 2014-02-18           IN          42   18      2  2014
2     410412349 2014-02-18           AS          42   18      2  2014
3     410412350 2014-02-18           NZ          42   18      2  2014
4     410412351 2014-02-18           US          42   18      2  2014
...         ...        ...          ...         ...  ...    ...   ...
2079  410420483 2015-02-18           US          40   18      2  2015
2080  410420484 2015-02-18           US          40   18      2  2015
2081  410420485 2015-02-18           IN          36   18      2  2015
2082  410420486 2015-02-18          NaN          30   18      2  2015
2083  410420487 2015-02-18           IN          51   18      2  2015

[6457 rows x 7 columns]

In [24]:
gkg

,gkg_0,gkg_1,gkg_2,gkg_3,gkg_4,gkg_5,gkg_6,gkg_7,gkg_8,gkg_9,gkg_10,gkg_11,gkg_12,gkg_13,gkg_14,gkg_15,gkg_16,gkg_17,gkg_18,gkg_19,gkg_20,gkg_21,gkg_22,gkg_23,gkg_24,gkg_25,gkg_26
0,20150218230000-0,2015-02-18 23:00:00,2,BBC Monitoring,as listed in Russian /BBC Monitoring/(c) BBC,"ARREST#400#political#4#Rossiya, Orenburgskaya ...","ARREST#400#political#4#Rossiya, Orenburgskaya ...",TERROR;REBELS;TAX_ETHNICITY;TAX_ETHNICITY_UKRA...,"TAX_FNCACT,2011;TAX_FNCACT,3449;TAX_FNCACT,381...","4#Budapest, Budapest, Hungary#RS#HU05#47.5#19....","4#Novorossiya, Primorskiy Kray, Russia#RS#RS59...",petro poroshenko;arkadiy dvorkovich;gen aleksa...,"Petro Poroshenko,2326;Arkadiy Dvorkovich,3483;...",gazprom,"Gazprom,666","-5.3475935828877,2.13903743315508,7.4866310160...",NaN,"wc:693,c1.1:1,c1.2:1,c12.1:43,c12.10:58,c12.11...",NaN,NaN,NaN,NaN,1332|134||prisoners are treated humanely ; the...,"Channel One,628;Channel One,755;Channel One,14...","3,channels,476;3,channels reported,824;1,corre...",NaN,NaN
1,20150218230000-1,2015-02-18 23:00:00,2,BBC Monitoring,"Al-Sharq al-Awsat website, London/BBC Monitori...",NaN,NaN,TAX_FNCACT;TAX_FNCACT_ENVOY;TAX_ETHNICITY;TAX_...,"IDEOLOGY,6790;IDEOLOGY,10592;KILL,1960;KILL,13...",1#Qatar#SA#QA#25.5#51.25#QA;1#Syria#SA#SY#35#3...,1#Turks#SA#TU##39#35#TU#9059;1#Syrian#SA#SY##3...,al-arab kobane;emrullah isler;nasirite alawite...,"Al-Arab Kobane,4903;Emrullah Isler,77;Nasirite...",development party;united states,"Development Party,3577;Development Party,3746;...","-0.54054054054054,3.82239382239382,4.362934362...",NaN,"wc:2376,c1.2:1,c1.4:7,c12.1:163,c12.10:276,c12...",NaN,NaN,NaN,NaN,332|26||greatly complicate matters#4494|37||ma...,"Emrullah Isler,83;Arab Spring,3571;Development...","2,fronts at the political,1455;2,main strategi...",NaN,NaN
2,20150218230000-2,2015-02-18 23:00:00,1,wjon.com,http://wjon.com/wjon-news-on-demand-wednesday-...,NaN,NaN,MANMADE_DISASTER;MANMADE_DISASTER_WITHOUT_POWE...,"MANMADE_DISASTER,91;POWER_OUTAGE,91;",NaN,NaN,NaN,NaN,NaN,NaN,"0,0,0,0,29.7029702970297,0.99009900990099,93",NaN,"wc:93,c12.1:7,c12.10:10,c12.12:5,c12.13:4,c12....",http://wac.450F.edgecastcdn.net/80450F/wjon.co...,http:/wac.450F.edgecastcdn.net/80450F/wjon.com...,NaN,https://youtube.com/channel/;https://youtube.c...,NaN,"Waite Park,125;City Food,233;Adobe Flash Playe...","500,people were without power,51;",NaN,NaN
3,20150218230000-3,2015-02-18 23:00:00,1,wjol.com,http://www.wjol.com/common/more.php?m=15&r=3&i...,NaN,NaN,LEADER;TAX_FNCACT;TAX_FNCACT_GOVERNOR;TAX_POLI...,"TAX_FNCACT,131;TAX_POLITICAL_PARTY,664;TAX_FNC...","2#Wisconsin, United States#US#USWI#44.2563#-89...","2#Wisconsin, United States#US#USWI##44.2563#-8...",michael madigan;rahm emanuel;jesus chuy garcia,"Michael Madigan,147;Rahm Emanuel,313;Jesus Chu...",NaN,NaN,"-4.58715596330275,1.8348623853211,6.4220183486...",NaN,"wc:103,c12.1:4,c12.10:13,c12.12:7,c12.13:6,c12...",NaN,NaN,NaN,NaN,NaN,"Governor Rauner,41;Speaker Michael Madigan,158...",NaN,NaN,NaN
4,20150218230000-4,2015-02-18 23:00:00,1,straitstimes.com,http://www.straitstimes.com:80/news/world/unit...,NaN,NaN,DRONES;TAX_WORLDMAMMALS;TAX_WORLDMAMMALS_MICE;...,"TAX_FNCACT,634;TAX_FNCACT,1248;TAX_FNCACT,907;...","1#United States#US#US#38#-97#US;3#Miami, Flori...","3#Miami, Florida, United States#US#USFL#FL086#...",omid farokhzad,"Omid Farokhzad,885",columbia university medical centre;harvard med...,"Columbia University Medical Centre,680;Harvard...","-1.80505415162455,3.6101083032491,5.4151624548...",4#2#18#0#706,"wc:255,c12.1:10,c12.10:28,c12.12:11,c12.13:7,c...",http://www.straitstimes.com/sites/straitstimes...,NaN,NaN,NaN,NaN,"United States,583;Columbia University Medical ...","5,weeks,1194;",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3287,20150218233000-312,2015-02-18 23:30:00,1,stuff.co.nz,http://www.stuff.co.nz/manawatu-standard/news/...,NaN,NaN,VETO;LEADER;TAX_FNCACT;TAX_FNCACT_MAYOR;ECON_D...,"TAX_FNCACT,1484;MANMADE_DISASTER_IMPLIED,1860;...","4#Whanganui, New Zealand (General), New Zealan...","4#Tangiwai, New Zealand (General), New Zealand...",michael feyen;david clapperton;ross campbell;b...,"Michael Feyen,182;David Clapperton,1511;Ross C...",horowhenua district council;palmerston north c...,"Palmerston North City Council,1408","-3.26797385620915,0.871459694989107,4.13943355...",1#0#0#1953#1917,"wc:435,c12.1:23,c12.10:25,c12.12:14,c12.13:8,c...",http://static2.stuff.co.nz/1424295127/492/1125...,NaN,NaN,NaN,NaN,"Horowhenua District Council,55;Long Term Plan,...","2,councillors,119;200,critical questions,600;1...",NaN,NaN
3288,20150218233000-313,2015-02-18 23:30:00,1,heraldsun.com.au,http://www.heraldsun.com.au/news/breaking-news...,NaN,NaN,GENERAL_GOVERNMENT;TAX_FNCACT;TAX_FNCACT_ADVIS...,"MEDIA_MSM,461;GENERAL_GOVERNMENT,21;TAX_ETHNIC...",1#Australia#AS#AS#-27#133#AS;1#Hong Kong#AS#HK...,1#Australians#AS#AS##-27#133#AS#505;1#Singapor...,NaN,NaN,NaN,NaN,"1.73160173160173,3.8961038961039,2.16450216450...",NaN,"wc:215,c1.2:4,c12.1:19,c12.10:23,c12.12:4,c12....",http://resources.news.com.au/cs/heraldsun/imag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3289,20150218233000-314,2015-02-18 23:30:00,1,newsadvance.com,http://www.newsadvance.com/nelson_county_times...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_SUPERVISORS;ENV_NATURALG...,"AFFECT,2141;ENV_NATURALGAS,146;TAX_FNCACT,1644...",NaN,NaN,jim norvelle;larry saunders;steve carter,"Jim Norvelle,1961;Larry Saunders,1659;Steve Ca...",energy regulatory commission,"Energy Regulatory Commission,2098","0.466200466200466,1.63170163170163,1.165501165...",NaN,"wc:397,c12.1:23,c12.10:33,c12.12:7,c12.13:21,c...",http://bloximages.newyork1.vip.townnews.com/ne...,NaN,NaN,NaN,NaN,"Nelson Board,21;Dominion Resources,82;Atlantic...","12,questions inquiring about topics,405;12,que...",NaN,NaN
3290,20150218233000-315,2015-02-18 23:30:00,1,southcoastregister.com.au,http://www.southcoastregister.com.au/story/289...,NaN,NaN,TAX_ETHNICITY;TAX_ETHNICITY_INDONESIAN;TAX_WOR...,"TAX_ETHNICITY,612;GENERAL_GOVERNMENT,26;GENERA...","4#Bali, Jawa Timur, Indonesia#ID#ID08#-7.1046#...",1#Indonesian#ID#ID##-5#120#ID#15;1#Indonesian#...,latika bourke;indian ocean;arrmanatha nasir;my...,"Latika Bourke,2033;Indian Ocean,618;Arrmanatha...",foreign affairs ministry,"Foreign Affairs Ministry,252","-3.53260869565217,1.90217391304348,5.434782608...",1#0#0#2004#169,"wc:339,c12.1:37,c12.10:40,c12.12:19,c12.13:12,...",http://transform.fairfaxregional.com.au/transf...,NaN,NaN,NaN,487|61||absolutely unambiguous terms that we f...,"Prime Minister Tony Abbott,108;Affairs Ministr...","1000000000,dollars ,130;1000000000,dollars wor...",NaN,NaN
3291,20150218233000-316,2015-02-18 23:30:00,1,columbusalive.com,http://www.columbusalive.com/content/stories/2...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_ARTIST;,"TAX_FNCACT,600;",NaN,NaN,jack johnson,"Jack Johnson,396",NaN,NaN,"4.62962962962963,7.40740740740741,2.7777777777...",NaN,"wc:96,c1.1:1,c12.1:9,c12.10:11,c12.12:3,c12.13...",http://www.columbusalive.com/content/graphics/...,NaN,NaN,NaN,NaN,"Buyin' Big,184;Barenaked Ladies,425;Jack Johns...",NaN,NaN,NaN

## Requête 3

In [37]:
requete3 = gkg.loc[:,["gkg_0","gkg_1", "gkg_3", "gkg_7", "gkg_11", "gkg_9", "gkg_15"]]

requete3['day'] = requete3["gkg_1"].dt.day
requete3['month'] = requete3["gkg_1"].dt.month
requete3['year'] = requete3["gkg_1"].dt.year

requete3.rename(columns={"gkg_0" : "id_gkg",
                         "gkg_1" : "datetime",
                        "gkg_3" : "source_domain",
                        "gkg_7" : "themes",
                        "gkg_11" : "persons", 
                        "gkg_9" : "locations",
                        "gkg_15" : "avg_tone"}, inplace=True)


requete3["locations"] = requete3["locations"].apply(lambda x : str(x).split(",")[0].split("#")[-1])
requete3["avg_tone"] = requete3["avg_tone"].apply(lambda x : float(str(x).split(",")[0]))

requete3

,id_gkg,datetime,source_domain,themes,persons,locations,avg_tone,day,month,year
0,20150218230000-0,2015-02-18 23:00:00,BBC Monitoring,TERROR;REBELS;TAX_ETHNICITY;TAX_ETHNICITY_UKRA...,petro poroshenko;arkadiy dvorkovich;gen aleksa...,Budapest,-5.347594,18,2,2015
1,20150218230000-1,2015-02-18 23:00:00,BBC Monitoring,TAX_FNCACT;TAX_FNCACT_ENVOY;TAX_ETHNICITY;TAX_...,al-arab kobane;emrullah isler;nasirite alawite...,Gezi,-0.540541,18,2,2015
2,20150218230000-2,2015-02-18 23:00:00,wjon.com,MANMADE_DISASTER;MANMADE_DISASTER_WITHOUT_POWE...,NaN,nan,0.000000,18,2,2015
3,20150218230000-3,2015-02-18 23:00:00,wjol.com,LEADER;TAX_FNCACT;TAX_FNCACT_GOVERNOR;TAX_POLI...,michael madigan;rahm emanuel;jesus chuy garcia,Wisconsin,-4.587156,18,2,2015
4,20150218230000-4,2015-02-18 23:00:00,straitstimes.com,DRONES;TAX_WORLDMAMMALS;TAX_WORLDMAMMALS_MICE;...,omid farokhzad,Miami,-1.805054,18,2,2015
...,...,...,...,...,...,...,...,...,...,...
3287,20150218233000-312,2015-02-18 23:30:00,stuff.co.nz,VETO;LEADER;TAX_FNCACT;TAX_FNCACT_MAYOR;ECON_D...,michael feyen;david clapperton;ross campbell;b...,Whanganui,-3.267974,18,2,2015
3288,20150218233000-313,2015-02-18 23:30:00,heraldsun.com.au,GENERAL_GOVERNMENT;TAX_FNCACT;TAX_FNCACT_ADVIS...,NaN,SN,1.731602,18,2,2015
3289,20150218233000-314,2015-02-18 23:30:00,newsadvance.com,TAX_FNCACT;TAX_FNCACT_SUPERVISORS;ENV_NATURALG...,jim norvelle;larry saunders;steve carter,nan,0.466200,18,2,2015
3290,20150218233000-315,2015-02-18 23:30:00,southcoastregister.com.au,TAX_ETHNICITY;TAX_ETHNICITY_INDONESIAN;TAX_WOR...,latika bourke;indian ocean;arrmanatha nasir;my...,Bali,-3.532609,18,2,2015
3291,20150218233000-316,2015-02-18 23:30:00,columbusalive.com,TAX_FNCACT;TAX_FNCACT_ARTIST;,jack johnson,nan,4.629630,18,2,2015

### requête 4

In [54]:
requete4 = mentions_gkg_translation_export_joined.loc[:,["export_0", "export_1", "gkg_translation_7", "gkg_translation_11", "gkg_translation_9", "gkg_translation_15", "gkg_translation_25"]]

requete4['day'] = requete4["export_1"].dt.day
requete4['month'] = requete4["export_1"].dt.month
requete4['year'] = requete4["export_1"].dt.year

requete4.rename(columns={"export_0" : "id_event",
                         "export_1" : "datetime",
                        "gkg_translation_7" : "themes",
                        "gkg_translation_11" : "persons", 
                        "gkg_translation_9" : "locations",
                        "gkg_translation_15" : "avg_tone",
                        "gkg_translation_25" : "source_langue"}, inplace=True)


requete4["locations"] = requete4["locations"].apply(lambda x : str(x).split(",")[0].split("#")[-1])
requete4["avg_tone"] = requete4["avg_tone"].apply(lambda x : float(str(x).split(",")[0]))

requete4

,id_event,datetime,themes,persons,locations,avg_tone,source_langue,day,month,year
0,410412348,2014-02-18,CONSTITUTIONAL;ECON_TAXATION;ELECTION;TAX_FNCA...,NaN,Delhi,-3.714710,hin,18,2,2014
1,410412348,2014-02-18,TAX_POLITICAL_PARTY;TAX_POLITICAL_PARTY_JANATA...,gautam singh;jitan ram manjhi;janata dal;kumar...,Patna,-0.909091,hin,18,2,2014
2,410412348,2014-02-18,TAX_WORLDMAMMALS;TAX_WORLDMAMMALS_HORSE;TAX_ET...,indian a ofisli,IN,-0.469484,hin,18,2,2014
3,410412362,2014-02-18,CONSTITUTIONAL;ECON_TAXATION;ELECTION;TAX_FNCA...,NaN,Delhi,-3.714710,hin,18,2,2014
4,410412362,2014-02-18,TAX_POLITICAL_PARTY;TAX_POLITICAL_PARTY_JANATA...,gautam singh;jitan ram manjhi;janata dal;kumar...,Patna,-0.909091,hin,18,2,2014
...,...,...,...,...,...,...,...,...,...,...
15403,410419135,2015-02-18,TAX_FNCACT;TAX_FNCACT_CHAMPIONS;TAX_ETHNICITY;...,NaN,PO,-0.401606,spa,18,2,2015
15404,410419135,2015-02-18,TAX_RELIGION;TAX_RELIGION_BAPTIST;TAX_ETHNICIT...,jerzy janowicz,Madras,1.639344,spa,18,2,2015
15405,410419135,2015-02-18,NaN,NaN,SP,9.644670,spa,18,2,2015
15406,410419135,2015-02-18,TAX_ETHNICITY;TAX_ETHNICITY_SPANISH;TAX_WORLDL...,NaN,NZ,1.212121,spa,18,2,2015
15407,410419135,2015-02-18,NaN,NaN,nan,1.397516,spa,18,2,2015